.email{
    @include flex(center,flex-start);
    padding:20px 0 20px 0;
    background-color: #f3f3f3;
    flex-wrap: wrap;
    text-align: center;
    @include tablet {
        flex-direction: column;
    }
    &__gift {
        @include flex(center,flex-start);

        &__icon {
            i{
                font-size: 30px;
                margin-left: 20px;
            }
        }

        &__text {
            font-weight: 300;
            font-size: 20px;
            width: 250px;
            margin:0 10px 0 20px ;
        }
    }

    &__register {
        @include flex(center,flex-start);

        @include tablet {
            margin: 20px 0 20px 0;
        }

        &__input {
            input {
                position: relative;
                width:700px;
                height: 50px;
                font-size: 20px;

                @include tablet {
                    width: 300px;
                    height: 30px;
                }
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     
            }
        }

        &__submit {
            padding:17px 30px;
            background-color: red;
            color: #fff;
            font-size: 15px;
            text-transform: capitalize;
            cursor: pointer;

            @include tablet {
                padding :5px 20px;
            }
        }
    }

    &__hotline{
        @include flex(center,flex-start);
        margin-left: 50px;
        &__icon {
            i {
                font-size: 35px;
            }
        }

        &__phone {
            font-size: 20px;
            span {
                color: red;
            }
            
        }
    }
}